a.logo img {
    width: 100%;
    width: 240px;
    height: 80px;
    margin: 0 auto;
    display: block;
}
html,body{
	height:100%;
	margin:0;
}

body.dark{
	background: linear-gradient(#869991,#060428);
}

body.light{
	background: #fff;
}

