a.logo img {
    width: 100%;
    width: 240px;
    height: 80px;
    margin: 0 auto;
    display: block;
}
/*.canvasPass {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}*/
/* html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }*/
        canvas#myCanvas {
    width: 100%;
}